body {
    font-family: 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', Helvetica, Arial, sans-serif;
}
.container-fluid {
    background-color: #CBE9EA;
    padding: 45px;
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
}
.insideBox {
    border-radius: 20px;
    background-color: #F1FFFF;
    height: 100%;
}
.insideBox h3 {
    font-size: 18px;
    padding: 10px 30px;
}
.insideBox h5 {
    font-size: 15px;
    padding-left: 30px;
}
span {
    color: #A9A5A5;
}
.content {
    margin-top: 30%;
    padding: 3%;
    text-align: center;
}
input {
    border: 1px solid  #A9A5A5;
    border-radius: 8px;
}
input:focus {
    outline: none;
}
button {
    border-radius: 8px;
    background-color: #5C9DF7;
    color: #FFFFFF;
    border: transparent;
}
button:hover {
    background-color: #7caef5;
}
@media screen and (width > 768px) {
    .insideBox h3 {
        font-size: 28px;
        padding: 30px 0 0 30px;
    }
    .insideBox h5 {
        font-size: 18px;
    }
    .content { 
        padding: 14rem;
        margin-top: 0;
    }
}
